<% provide(:title, 'Sobre') %> <h1>Sobre</h1>
<hr/>
<div class="row">
	
		<p style="text-align: center">
			"Este é um ambiente voltado para acadêmicos apaixonados pela argumentação."
		</p>
		<br/>
	<div class="span8">
		<h2 style="text-align: center">[ <a>Equipe</a> ]</h2>
		<hr/>
		<h3>Nailton Gomes Silva | <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4450141Y0" target="_blank">Currículo Lattes</a></h3>
		<p style="text-align: justify">
			Técnico em Informática pelo Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte/IFRN;
			<br/>
			Acadêmico do Curso de Direito do Centro Universitário do Rio Grande do Norte/UNI-RN;
			<br/>
			Bolsista de Iniciação Científica do PIBIC/CNPq.
		</p>
		<p style="text-align: right">
			Desenvolvedor
		</p>
		<hr/>
		<h3>José Eduardo de Almeida Moura | <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4794939D6" target="_blank">Currículo Lattes</a></h3>
		<p style="text-align: justify">
			Doutor em Filosofia pela Universidade Estadual de Campinas/UNICAMP (1986).
			<br/>
			Professor do Centro Universitário do Rio Grande do Norte/UNI-RN.
		</p>
		<p style="text-align: right">
			Orientador
		</p>
		<hr/>
		<h3>Joseane Alves Pinheiro | <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4761932D3" target="_blank">Currículo Lattes</a></h3>
		<p style="text-align: justify">
			Mestre em Sistemas e Computação pela Universidade Federal do Rio Grande do Norte/UFRN (2005).
			<br/>
			Professora do Centro Universitário do Rio Grande do Norte/UNI-RN.
		</p>
		<p style="text-align: right">
			Orientadora
		</p>
	</div>
	<div class="span4 pull-right">
		<center>
		<a href="http://www.cnpq.br/" target="_blank"><%= image_tag("cnpq.png", :size => "250x100") %></a>
		<a href="http://www.farn.br/2011/index.php" target="_blank"><%= image_tag("uni.png", :size => "100x80")%></a>
		</center>
	</div>
	</div>
