<% provide(:title, 'Senha') %> <h1>Recuperação de Senha</h1>
<hr/>
<div class="row">
	<div class="span6 offset3">
		<%= form_tag recover_url, :method => 'get' do %>
		E-Mail:
		<%= email_field_tag :email, params[:email], :placeholder => "Digite seu E-mail e pressione enter" %>
		<hr/>
		Após digitar seu e-mail e pressionar [enter] uma nova senha será gerada e enviada para o seu e-mail.						
		<% end %>		
	</div>
</div>
