<% provide(:title, 'Assistente') %>
<%= link_to "Cancelar", sandargs_path, :class => "btn btn-large btn-warning pull-right" %>
<div class="alert alert-success">
<h3>Editando</h3>
</div>

<%= render 'form' %>

