<p>Prezado (a) <%= @user.name %>,</p>

<p>Você acaba de criar uma conta no Asssitente de Argumentação - Arg.</p>

<p>É uma satisfação tê-lo junto ao nosso sistema, esperamos que você faça um bom proveito com esta ferramenta e 
gostaríamos de, em breve, obter um 'feedback' sobre sua experiência.</p>

<p>Guarde este e-mail, pois ele pode ser útil se você tiver algum problema ou
esquecer sua senha.</p>

<p>Sua senha: <%= @user.password %>,</p>

<p>Você pode fazer login na conta 
<a href="http://argumentos.herokuapp.com/signin" target="_blank">aqui</a></p> 

<p>Aproveite!</p> 

<p>Cordialmente,</p>
<p>A equipe do Arg.</p> 

--------------------------------
<span>Se você não criou esta conta no Arg. e não reconhece este e-mail, acesse:
<a href="http://argumentos.herokuapp.com/contact" target="_blank">http://argumentos.herokuapp.com/contact</a></span>