<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  	<% if user.moderator? %>
  | [ Moderador ]
  	<% end %> 
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Excluir", user, method: :delete, confirm: "Tem certeza?" %>
  <% end %>
</li>