<%= form_for(@argument) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, :placeholder => "Argumente aqui!"%>
  </div>
  <%= f.submit "Inserir", class: "btn btn-large btn-primary" %> 
  <hr/>
  <center><a class="btn btn-large btn-info">Quero ajuda para argumentar</a></center>
<% end %>