<% if @feed_items.any? %>
<ol class="arguments">
	<%= render partial: 'shared/feed_item', collection: @feed_items %>
</ol>
<%= will_paginate @feed_items %>
<% else %>
<hr/>
<% if @argument.errors.any? %>
<p>
	Ocorreu um erro que proibiu o resgate do seu histórico de argumentos...
</p>
<% else %>
<%= textilize Page.find_by_key('novo_usu').value if Page.find_by_key('novo_usu').value.present? %>
<% end %>
<% end %>