<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1>
  <%= link_to current_user.name, current_user %>
</h1>
<span>
  <%= pluralize(current_user.arguments.count, "argumento") %>
</span>