<div class="well">
	<p>
		<%= textilize @f.content %>		
	</p>
</div>
<div class="alert alert-info">
	<p>
		<%= textilize @f.problem %>		
	</p>		
</div>

	<p style="text-align: center">O argumento referente a este caso deverá conter a chave <b>#C<%= @f.id %></b> no final do seu conteúdo.	
	<%= link_to 'Pesquisar argumentos deste caso.', arguments_path(:search => "#C#{@f.id}"), :class => "btn" %></p><hr/>

