<div class="well">
	<p>
		<%= textilize @f.content %>
	</p>
	<hr/>
	<%= link_to 'Argumentos deste caso', @f, :class => "btn" %>
	<%= link_to 'Argumentar para este caso', @f, :class => "btn btn-primary" %>
</div>