<li>
  <% if document.active? %>
  	<span class="label label-important">Público</span>
  <% else %>
	<span class="label label-info">Particular</span>
  <% end %>
  <%= gravatar_for User.find(document.user_id), size: 52 %>
  <%= link_to document.title, document %><br/>
  <%= document.subject %>
  <% if !current_user.nil? && current_user.id == document.user_id %>  	
  <%= link_to "Excluir", document, method: :delete, confirm: "Tem certeza?", :class => "btn btn-danger btn-small pull-right" %>
  <% end %>
</li>