<footer class="footer">
  <small>
    <a href="#">Arg.</a>
    por Nailton Gomes
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
      <li><a href="#">Novidades</a></li>
    </ul>
  </nav>
</footer>