<footer class="footer" style="margin-bottom: 50px">
  <small>
    <a href="#">ARG</a>
    por <%= link_to 'SILVA, N.G.', about_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "SOBRE",   about_path %></li>
      <li><%= link_to "CONTATO", contact_path %></li>
    </ul>
  </nav>
</footer>