<footer class="footer">
  <small>
    <a href="#">Arg.</a>
    por <%= link_to 'N.G. Silva', about_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Fale Conosco", contact_path %></li>
    </ul>
  </nav>
</footer>